#success{
    color:green;
    font-weight:bold;
}
#admin{

background-color:rgba(0,0,0,0.2);
    display:flex;
   
}



#visuel{
    
    background-color:#A5A5AC;
    width:90%;
    margin:115px auto;
    padding:30px;
    border-radius:10px;
    position:relative;
    z-index:20;

}

ul{
    list-style-type: none;
    
}
li{
     padding:20px 0;
}

a{
    text-decoration:none !important;
    font-size:1.6em;
    color:white;
}
#tools nav {
    display:flex;
    position:absolute;
    left:40px;
    top:100px;


}
#tools nav ul{
    display:flex;
}
#tools li{

        background-color:#A5A5AC;
        padding:15px 15px 15px 15px;
        border-radius:5px;
        margin-right:10px;
        width:200px;
        text-align:center;
        font-size:0.6em;

}
#tools li:hover{
    background:#7C7C81;
}
#tools a:hover{
    color:white;
}
#read_view{
    position:relative;
    margin:auto; 
    background:rgba(255,255,255,0.8);
    display:flex;
    padding:10px;
    margin:auto;
    margin: 10px 0;
    height:110px;
}

#alert{

    background-color: rgba(255,0,0,0.6);
    border-radius:10px;
    display:block;
    padding: 20px;
    margin: 20px 0;
    }

#delete_view{

     margin: 10px 0;
    background:grey;
    display:block;
    padding:10px;
}

#extract{
    text-align: left;
    border-left:solid 1px black;
    width:300px;

}

#read_view p{
    margin:0 110px;

}
#read_view h5{
    position:absolute;
    top:20%;
}
#read_view i:hover{
    border:solid 2px rgba(0,0,0,0.8);
    background:white;
    border-radius:50%;
}
#icons{
     
   position: absolute;
   display: flex;
   right:0;
   bottom:10px;
   margin-right:20px;
}
#icons i{
    font-size:0.7em;
    color:black;
       padding:5px;

}



/*------comments -------------*/

#alertComm{
        color:red;
        font-size:1.2em;
        font-weight:bold;
}

textarea{

    width:500px;
    height:100px;
}

#deleteIcon{
position:absolute;
margin-top:14px;
margin-left:20px;
}
#deleteIcon:hover{
    color:rgba(255,0,0,0.8);
}

#delete_view h5, #delete_view p{
    margin:0;
}
#adminComments{
    background:rgba(255,255,255,0.4);
    width:50%;
    padding:10px;
    margin-bottom:10px;
}
/*-----------Media queries ----------------*/

@media screen and (max-width: 750px) {
  #tools li {
    width:100%;
    padding:10px;
    margin-top:10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 640px) {

  #tools li {
    width:50%;
    padding:10px;
    margin-top:15px;
    font-size:0.4em;
    text-align:center;
  }
  #tools nav{
margin-right:140px;
left:0;
  }
}